<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/updateuser" method="post" align="center">
        <h1>edit user</h1>

        <table align="center" border="1">

            <tr>
                <td>id</td>
                <td> <input type="text" name="editid" value="<%= single?.id %>"></td>
            </tr>

            <tr>
                <td>name :</td>
                <td><input type="text" name="name" value="<%= single.name %>"></td>
            </tr>
            <tr>
                <td>email :</td>
                <td><input type="text" name="email" value="<%= single.email %>"></td>
            </tr>
            <tr>
                <td>password :</td>
                <td><input type="text" name="password" value="<%= single.password %>"></td>
            </tr>
            <tr>
                <td>gender :</td>
                <td><input type="radio" name="gender" <% if(single?.gender=="male" ) {%>checked <%} %> value="male">male
                        <input type="radio" name="gender" <% if(single?.gender=="female" ) {%>checked <%} %>
                            value="female">female
                </td>
            </tr>
            <tr>
                <td>hobby :</td>
                <td>
                    <input type="checkbox" <% if(single?.hobby.includes("cricket")) {%> checked <%}%> name="hobby"
                        value="cricket">cricket
                        <input type="checkbox" <% if(single?.hobby.includes("music")) {%> checked <%}%> name="hobby"
                            value="music">music
                            <input type="checkbox" <% if(single?.hobby.includes("reading")) {%> checked <%}%>
                                name="hobby"
                                value="reading">reading
                </td>

            </tr>
            <tr>
                <td>file :</td>
                <td><input type="file" name="image">
                    <img src="<%= single.image %>" width="100px">
                </td>
            </tr>
            <tr>
                <td>City:</td>
                <td>
                    <select name="city">
                        <option value="">-----select city-----</option>
                        <% const cities=["surat", "ahemdabad" , "vadodara" , "rajkot" ]; cities.forEach(c=> {
                            %>
                            <option <% if(single?.city==c) {%>selected<%} %>
                                    value="<%=c%>">
                                        <%=c%>
                            </option>
                            <% }) %>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit"></td>
            </tr>
        </table>
        <a href="/viewuser">view</a>
    </form>

</body>

</html>